body {
    background-color: coral;
}
ol{ list-style-type: decimal;
}
h{color: bisque;}
.trait{
    color: greenyellow;
    font-display: bold;
}
#sidenote{
    font-size: 15px;
    font-weight: 10;
    font-style: Verdana;

}
a{text-decoration: none;}
a:hover{text-decoration: underline;}
.moreinfo{color: purple;}
p::first-letter{
    font-size: 1.2rem;
}
.notag{
    list-style-type: none;
    color: black;
}
.moviedep{
    list-style-type: none;
    color: blueviolet;
}
