.top{
    display: flex;
    flex-direction: row;
   background-color: lightgreen;
   margin-bottom: 30px;
}
#options{
    background-color: lightgreen;
    margin-left: 60px;
    margin-top: 10px;
     width: 120px;
     height: 45px;
     border: none;
}
body{
    border: 2px solid blue;
    
}
#bigbox{
    height: 100px;
}
.both{
    display: flex;
    justify-content: space-between;
}
.left{
       width: 70%;
       margin-left: 50px;

}
.right{
       width: 80%;

}
.sub{
    display: flex;
    justify-content: center; 
    background-color: lightgrey;
    height: 40px;
    margin-top: 10px;



}
.button{
    margin-top: 10px;
    height: 20px;
    border: white;
    margin-left: 5px;
    font-weight: bold;
    margin-right: 5%;
    background-color: darkgreen;
    color: white;
    
}